<h1>Register</h1>
<form name="myForm">
<div class="form-horizontal" ng-controller="registerCtrl"  >
   <div class="form-group">
        <label class="control-label col-sm-2" for="email">First Name:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="firstname" ng-required="true" placeholder="Enter First Name"ng-minlength="5" ng-model="user.firstName" ng-pattern ="/^[a-zA-Z\s]+$/">
          
<!--         {{ myForm.firstname.$error.required}}-->
            <p ng-if=" myForm.firstname.$error.minlength">First Name required.</p>
            <p ng-if=" myForm.firstname.$error.pattern">First Name required pattern .</p>
        </div>
    </div>
     <div class="form-group">
        <label class="control-label col-sm-2" for="email">password:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="password" ng-model="user.password">
            
        </div>
     </div>
        
   
     <div class="form-group" >
        <div class="col-xs-offset-2 col-xs-4">
            <button ng-click="register()" class="btn btn-primary">Register</button>
        </div>
     </div>
     <div class="form-group" >
        <div class="col-xs-offset-2 col-xs-4">
            <button ng-click="reset()" class="btn btn-primary">reset</button>
            
        </div>
    </div>
    
    {{user}}
</div>
    </form>
        